:root {
	--jua: "Jua", sans-serif;

}

* {
	text-align: center;
	font-family: var(--font-family);
}

body {
	background-color: #B3E5FC;
	/* background-image: 
		repeating-linear-gradient(0deg, rgba(13, 71, 161, 0.5) 0px 8px, transparent 8px 16px),
		repeating-linear-gradient(90deg, rgba(13, 71, 161, .5) 0px 8px, transparent 8px 16px) */
}

/* HERO TEXT */
h1 {
	font-family: var(--jua);
	color: var(--white);
	font-size: calc(var(--font-size)*3);
}

.hero, .sub {
	width: fit-content;
	margin: auto;
	padding: var(--padding);
	border-radius: var(--border-radius);
}

.hero {
	transform: rotate(-1deg);
	background-color: var(--pink);
	margin-top: var(--margin);
}

.sub {
	font-weight: var(--bolded);
	background-color: var(--yellow);
	color: var(--white);
	transform: rotate(1deg);
}

.colophon {
	background-color: var(--white);	
	padding: var(--padding);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	font-weight: var(--bolded);
	color: var(--blue);
	margin-left: var(--margin);
	margin-right: var(--margin);
}

