:root {
	--jua: "Jua", sans-serif;

}

* {
	text-align: center;
}

body {
	background-color: #B3E5FC;
	background-image: 
		repeating-linear-gradient(0deg, rgba(13, 71, 161, 0.5) 0px 8px, transparent 8px 16px),
		repeating-linear-gradient(90deg, rgba(13, 71, 161, .5) 0px 8px, transparent 8px 16px)
}

/* HERO TEXT */
h1 {
	font-family: var(--jua);
	color: var(--light-blue);
	font-size: calc(var(--font-size)*3);
}

.hero {
	background-color: var(--white);
	width: fit-content;
	margin: auto;
	margin-top: var(--margin);
	padding: var(--padding);
	border-radius: var(--border-radius);
}